.wrapper{
  text-align: start;
  display: flex;
div {
  display: flex;
}
}

.chevron{
  margin: 27px 20px 0 30px;
}

.btnaddwrapper{
  margin-top: 12px;
}

.error{
  text-align: start;
  color: red;
  display: block;
  margin: 0 0 0 80px;
}
