
h1{
  font-weight: 100;
  font-size: 40px;
  margin: 0;
  padding: 10px 0;
}

.todowrapper{
  background: white;
  margin: 0 20px 20px 20px;
}

.btnwrapper{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  button, p{
    margin: auto 0;
    border: none;
    background: none;
    color: grey;
  }


  .btnActive{
    border: 1px solid rgb(167, 167, 167);
  }
}

.mynode-enter {
  opacity: 0;
}
.mynode-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.mynode-exit {
  opacity: 1;
}
.mynode-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}