.App {
  text-align: center;
  background: rgb(222, 222, 222);
  list-style-type: none;
  padding-bottom: 10px;
}

h1{
  font-weight: 100;
  font-size: 40px;
  margin: 0;
  padding: 10px 0;
}

.todowrapper{
  background: white;
  margin: 0 20px 20px 20px;
}

.btnwrapper{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  button, p{
    margin: auto 0;
    border: none;
    background: none;
    color: grey;
  }


  .btnActive{
    border: 1px solid rgb(167, 167, 167);
  }
}